@model HRIS.Models.IQtest
@{
    if (Session["timer"] == null)
    {
        Session["timer"] = DateTime.UtcNow.AddSeconds(1800);
    }
    Layout = null;

}
@{
    var endTime = ((DateTime)Session["timer"]);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds.ToString("#");
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IQtest1</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/goBack.js"></script>
    
</head>
<body>

    <style>
        .container {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        .custom-control-label {
            margin-bottom: 10px;
        }

        body {
            background-image: url('../images/test9.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            font-family: Helvetica, sans-serif;
            background-attachment: fixed;
        }

        html {
            height: 100%
        }

        .text-justify {
            text-align: justify;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="card shadow-lg">
                <div class="card-header sticky-top text-white" style="background-color: #C59566;">
                    <label class="control-label font-weight-bold text-justify">
                        This test aims to assess your capabilities to process complex problems in a time pressured environment.  This test consists of understanding your abilities to follow instructions, English comprehension, mathematical skills, attention to details and logic processing.  Please read each question carefully, encircle the letter which you feel is the best answer. For some questions, fill in the blank with the correct answer.
                        <br>Time remaining: <span id="minRemaining"></span>:<span id="secRemaining"></span><input type="hidden" name="minRemaining" id="minRemaining"><input type="hidden" name="secRemaining" id="secRemaining">
                    </label>
                </div>
                <div class="card-body">

                        <label class="control-label font-weight-bold">1. @ViewBag.Q1</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="IQtest1" value="@ViewBag.Answer_Q1_1" required>
                            <label class="custom-control-label" for="defaultGroupExample1">@ViewBag.Answer_Q1_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="IQtest1" value="@ViewBag.Answer_Q1_2">
                            <label class="custom-control-label" for="defaultGroupExample2">@ViewBag.Answer_Q1_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="IQtest1" value="@ViewBag.Answer_Q1_3">
                            <label class="custom-control-label" for="defaultGroupExample3">@ViewBag.Answer_Q1_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="IQtest1" value="@ViewBag.Answer_Q1_4">
                            <label class="custom-control-label" for="defaultGroupExample4">@ViewBag.Answer_Q1_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">2. @ViewBag.Q2</label>
                        <br><br>
                        <div class="form-group row">
                            <div class="col-3">
                                <input type="text" class="form-control" name="IQtest2" required>
                            </div>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">3. @ViewBag.Q3</label>
                        <br><br>
                        <div class="form-group row">
                            <div class="col-3">
                                <input type="text" class="form-control" name="IQtest3" required>
                            </div>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">4. @ViewBag.Q4</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample5" name="IQtest4" value="@ViewBag.Answer_Q4_1" required>
                            <label class="custom-control-label" for="defaultGroupExample5">@ViewBag.Answer_Q4_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample6" name="IQtest4" value="@ViewBag.Answer_Q4_2">
                            <label class="custom-control-label" for="defaultGroupExample6">@ViewBag.Answer_Q4_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample7" name="IQtest4" value="@ViewBag.Answer_Q4_3">
                            <label class="custom-control-label" for="defaultGroupExample7">@ViewBag.Answer_Q4_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample8" name="IQtest4" value="@ViewBag.Answer_Q4_4">
                            <label class="custom-control-label" for="defaultGroupExample8">@ViewBag.Answer_Q4_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">5. @ViewBag.Q5</label>
                        <br><br>
                        <div class="form-group row">
                            <div class="col-3">
                                <input type="text" class="form-control" name="IQtest5" required>
                            </div>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">6. @ViewBag.Q6</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample9" name="IQtest6" value="@ViewBag.Answer_Q6_1" required>
                            <label class="custom-control-label" for="defaultGroupExample9">@ViewBag.Answer_Q6_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample10" name="IQtest6" value="@ViewBag.Answer_Q6_2">
                            <label class="custom-control-label" for="defaultGroupExample10">@ViewBag.Answer_Q6_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample11" name="IQtest6" value="@ViewBag.Answer_Q6_3">
                            <label class="custom-control-label" for="defaultGroupExample11">@ViewBag.Answer_Q6_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample12" name="IQtest6" value="@ViewBag.Answer_Q6_4">
                            <label class="custom-control-label" for="defaultGroupExample12">@ViewBag.Answer_Q6_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">7. @ViewBag.Q7</label>
                        <br><br>
                        <div class="form-group row">
                            <div class="col-3">
                                <input type="text" class="form-control" name="IQtest7" required>
                            </div>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold text-justify">8. @ViewBag.Q8</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample13" name="IQtest8" value="@ViewBag.Answer_Q8_1" required>
                            <label class="custom-control-label" for="defaultGroupExample13">@ViewBag.Answer_Q8_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample14" name="IQtest8" value="@ViewBag.Answer_Q8_2">
                            <label class="custom-control-label" for="defaultGroupExample14">@ViewBag.Answer_Q8_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample15" name="IQtest8" value="@ViewBag.Answer_Q8_3">
                            <label class="custom-control-label" for="defaultGroupExample15">@ViewBag.Answer_Q8_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample16" name="IQtest8" value="@ViewBag.Answer_Q8_4">
                            <label class="custom-control-label" for="defaultGroupExample16">@ViewBag.Answer_Q8_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">9. @ViewBag.Q9</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample17" name="IQtest9" value="@ViewBag.Answer_Q9_1" required>
                            <label class="custom-control-label" for="defaultGroupExample17">@ViewBag.Answer_Q9_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample18" name="IQtest9" value="@ViewBag.Answer_Q9_2">
                            <label class="custom-control-label" for="defaultGroupExample18">@ViewBag.Answer_Q9_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample19" name="IQtest9" value="@ViewBag.Answer_Q9_3">
                            <label class="custom-control-label" for="defaultGroupExample19">@ViewBag.Answer_Q9_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample20" name="IQtest9" value="@ViewBag.Answer_Q9_4">
                            <label class="custom-control-label" for="defaultGroupExample20">@ViewBag.Answer_Q9_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">10. @ViewBag.Q10</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample21" name="IQtest10" value="@ViewBag.Answer_Q10_1" required>
                            <label class="custom-control-label" for="defaultGroupExample21">@ViewBag.Answer_Q10_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample22" name="IQtest10" value="@ViewBag.Answer_Q10_2">
                            <label class="custom-control-label" for="defaultGroupExample22">@ViewBag.Answer_Q10_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample23" name="IQtest10" value="@ViewBag.Answer_Q10_3">
                            <label class="custom-control-label" for="defaultGroupExample23">@ViewBag.Answer_Q10_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample24" name="IQtest10" value="@ViewBag.Answer_Q10_4">
                            <label class="custom-control-label" for="defaultGroupExample24">@ViewBag.Answer_Q10_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">11. @ViewBag.Q11</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample25" name="IQtest11" value="@ViewBag.Answer_Q11_1" required>
                            <label class="custom-control-label" for="defaultGroupExample25">@ViewBag.Answer_Q11_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample26" name="IQtest11" value="@ViewBag.Answer_Q11_2">
                            <label class="custom-control-label" for="defaultGroupExample26">@ViewBag.Answer_Q11_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample27" name="IQtest11" value="@ViewBag.Answer_Q11_3">
                            <label class="custom-control-label" for="defaultGroupExample27">@ViewBag.Answer_Q11_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample28" name="IQtest11" value="@ViewBag.Answer_Q11_4">
                            <label class="custom-control-label" for="defaultGroupExample28">@ViewBag.Answer_Q11_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">12. @ViewBag.Q12</label>
                        <br><br>
                        <div class="form-group row">
                            <div class="col-3">
                                <input type="text" class="form-control" name="IQtest12" required>
                            </div>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">13. @ViewBag.Q13</label>
                        <br><br>
                        <div class="form-group row">
                            <div class="col-3">
                                <input type="text" class="form-control" name="IQtest13" required>
                            </div>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">14. @ViewBag.Q14</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample29" name="IQtest14" value="@ViewBag.Answer_Q14_1" required>
                            <label class="custom-control-label" for="defaultGroupExample29">@ViewBag.Answer_Q14_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample30" name="IQtest14" value="@ViewBag.Answer_Q14_2">
                            <label class="custom-control-label" for="defaultGroupExample30">@ViewBag.Answer_Q14_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample31" name="IQtest14" value="@ViewBag.Answer_Q14_3">
                            <label class="custom-control-label" for="defaultGroupExample31">@ViewBag.Answer_Q14_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample32" name="IQtest14" value="@ViewBag.Answer_Q14_4">
                            <label class="custom-control-label" for="defaultGroupExample32">@ViewBag.Answer_Q14_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">
                                15. @ViewBag.Q15
                            </label>
                        <br><br>
                        <div class="form-group row">
                            <div class="col-3">
                                <input type="text" class="form-control" name="IQtest15" required>
                            </div>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">16. @ViewBag.Q16</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample33" name="IQtest16" value="@ViewBag.Answer_Q16_1" required>
                            <label class="custom-control-label" for="defaultGroupExample33">@ViewBag.Answer_Q16_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample34" name="IQtest16" value="@ViewBag.Answer_Q16_2">
                            <label class="custom-control-label" for="defaultGroupExample34">@ViewBag.Answer_Q16_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample35" name="IQtest16" value="@ViewBag.Answer_Q16_3">
                            <label class="custom-control-label" for="defaultGroupExample35">@ViewBag.Answer_Q16_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample36" name="IQtest16" value="@ViewBag.Answer_Q16_4">
                            <label class="custom-control-label" for="defaultGroupExample36">@ViewBag.Answer_Q16_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">17. @ViewBag.Q17</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample37" name="IQtest17" value="@ViewBag.Answer_Q17_1" required>
                            <label class="custom-control-label" for="defaultGroupExample37">@ViewBag.Answer_Q17_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample38" name="IQtest17" value="@ViewBag.Answer_Q17_2">
                            <label class="custom-control-label" for="defaultGroupExample38">@ViewBag.Answer_Q17_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample39" name="IQtest17" value="@ViewBag.Answer_Q17_3">
                            <label class="custom-control-label" for="defaultGroupExample39">@ViewBag.Answer_Q17_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample40" name="IQtest17" value="@ViewBag.Answer_Q17_4">
                            <label class="custom-control-label" for="defaultGroupExample40">@ViewBag.Answer_Q17_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">18. @ViewBag.Q18</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample41" name="IQtest18" value="@ViewBag.Answer_Q18_1" required>
                            <label class="custom-control-label" for="defaultGroupExample41">@ViewBag.Answer_Q18_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample42" name="IQtest18" value="@ViewBag.Answer_Q18_2">
                            <label class="custom-control-label" for="defaultGroupExample42">@ViewBag.Answer_Q18_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample43" name="IQtest18" value="@ViewBag.Answer_Q18_3">
                            <label class="custom-control-label" for="defaultGroupExample43">@ViewBag.Answer_Q18_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample44" name="IQtest18" value="@ViewBag.Answer_Q18_4">
                            <label class="custom-control-label" for="defaultGroupExample44">@ViewBag.Answer_Q18_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">19. @ViewBag.Q19</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample45" name="IQtest19" value="@ViewBag.Answer_Q19_1" required>
                            <label class="custom-control-label" for="defaultGroupExample45">@ViewBag.Answer_Q19_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample46" name="IQtest19" value="@ViewBag.Answer_Q19_2">
                            <label class="custom-control-label" for="defaultGroupExample46">@ViewBag.Answer_Q19_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample47" name="IQtest19" value="@ViewBag.Answer_Q19_3">
                            <label class="custom-control-label" for="defaultGroupExample47">@ViewBag.Answer_Q19_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample48" name="IQtest19" value="@ViewBag.Answer_Q19_4">
                            <label class="custom-control-label" for="defaultGroupExample48">@ViewBag.Answer_Q19_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">20. @ViewBag.Q20</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample49" name="IQtest20" value="@ViewBag.Answer_Q20_1" required>
                            <label class="custom-control-label" for="defaultGroupExample49">@ViewBag.Answer_Q20_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample50" name="IQtest20" value="@ViewBag.Answer_Q20_2">
                            <label class="custom-control-label" for="defaultGroupExample50">@ViewBag.Answer_Q20_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample51" name="IQtest20" value="@ViewBag.Answer_Q20_3">
                            <label class="custom-control-label" for="defaultGroupExample51">@ViewBag.Answer_Q20_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample52" name="IQtest20" value="@ViewBag.Answer_Q20_4">
                            <label class="custom-control-label" for="defaultGroupExample52">@ViewBag.Answer_Q20_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">21. @ViewBag.Q21</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample53" name="IQtest21" value="@ViewBag.Answer_Q21_1" required>
                            <label class="custom-control-label" for="defaultGroupExample53">@ViewBag.Answer_Q21_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample54" name="IQtest21" value="@ViewBag.Answer_Q21_2">
                            <label class="custom-control-label" for="defaultGroupExample54">@ViewBag.Answer_Q21_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample55" name="IQtest21" value="@ViewBag.Answer_Q21_3">
                            <label class="custom-control-label" for="defaultGroupExample55">@ViewBag.Answer_Q21_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample56" name="IQtest21" value="@ViewBag.Answer_Q21_4">
                            <label class="custom-control-label" for="defaultGroupExample56">@ViewBag.Answer_Q21_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">22. @ViewBag.Q22</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample57" name="IQtest22" value="@ViewBag.Answer_Q22_1" required>
                            <label class="custom-control-label" for="defaultGroupExample57">@ViewBag.Answer_Q22_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample58" name="IQtest22" value="@ViewBag.Answer_Q22_2">
                            <label class="custom-control-label" for="defaultGroupExample58">@ViewBag.Answer_Q22_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample59" name="IQtest22" value="@ViewBag.Answer_Q22_3">
                            <label class="custom-control-label" for="defaultGroupExample59">@ViewBag.Answer_Q22_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample60" name="IQtest22" value="@ViewBag.Answer_Q22_4">
                            <label class="custom-control-label" for="defaultGroupExample60">@ViewBag.Answer_Q22_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">23. @ViewBag.Q23</label>
                        <br><br>
                        <div class="form-group row">
                            <div class="col-3">
                                <input type="text" class="form-control" name="IQtest23" required>
                            </div>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">24. @ViewBag.Q24</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample61" name="IQtest24" value="@ViewBag.Answer_Q24_1" required>
                            <label class="custom-control-label" for="defaultGroupExample61">@ViewBag.Answer_Q24_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample62" name="IQtest24" value="@ViewBag.Answer_Q24_2">
                            <label class="custom-control-label" for="defaultGroupExample62">@ViewBag.Answer_Q24_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample63" name="IQtest24" value="@ViewBag.Answer_Q24_3">
                            <label class="custom-control-label" for="defaultGroupExample63">@ViewBag.Answer_Q24_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample64" name="IQtest24" value="@ViewBag.Answer_Q24_4">
                            <label class="custom-control-label" for="defaultGroupExample64">@ViewBag.Answer_Q24_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">25. @ViewBag.Q25</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample65" name="IQtest25" value="@ViewBag.Answer_Q25_1" required>
                            <label class="custom-control-label" for="defaultGroupExample65">@ViewBag.Answer_Q25_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample66" name="IQtest25" value="@ViewBag.Answer_Q25_2">
                            <label class="custom-control-label" for="defaultGroupExample66">@ViewBag.Answer_Q25_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample67" name="IQtest25" value="@ViewBag.Answer_Q25_3">
                            <label class="custom-control-label" for="defaultGroupExample67">@ViewBag.Answer_Q25_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample68" name="IQtest25" value="@ViewBag.Answer_Q25_4">
                            <label class="custom-control-label" for="defaultGroupExample68">@ViewBag.Answer_Q25_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">26. @ViewBag.Q26</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample69" name="IQtest26" value="@ViewBag.Answer_Q26_1" required>
                            <label class="custom-control-label" for="defaultGroupExample69">@ViewBag.Answer_Q26_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample70" name="IQtest26" value="@ViewBag.Answer_Q26_2">
                            <label class="custom-control-label" for="defaultGroupExample70">@ViewBag.Answer_Q26_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample71" name="IQtest26" value="@ViewBag.Answer_Q26_3">
                            <label class="custom-control-label" for="defaultGroupExample71">@ViewBag.Answer_Q26_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample72" name="IQtest26" value="@ViewBag.Answer_Q26_4">
                            <label class="custom-control-label" for="defaultGroupExample72">@ViewBag.Answer_Q26_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">27. @ViewBag.Q27</label>
                        <br><br>
                        <div class="form-group row">
                            <div class="col-3">
                                <input type="text" class="form-control" name="IQtest27" required>
                            </div>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">28. @ViewBag.Q28</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample73" name="IQtest28" value="@ViewBag.Answer_Q28_1" required>
                            <label class="custom-control-label" for="defaultGroupExample73">@ViewBag.Answer_Q28_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample74" name="IQtest28" value="@ViewBag.Answer_Q28_2">
                            <label class="custom-control-label" for="defaultGroupExample74">@ViewBag.Answer_Q28_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample75" name="IQtest28" value="@ViewBag.Answer_Q28_3">
                            <label class="custom-control-label" for="defaultGroupExample75">@ViewBag.Answer_Q28_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample76" name="IQtest28" value="@ViewBag.Answer_Q28_4">
                            <label class="custom-control-label" for="defaultGroupExample76">@ViewBag.Answer_Q28_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">29. @ViewBag.Q29</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample77" name="IQtest29" value="@ViewBag.Answer_Q29_1" required>
                            <label class="custom-control-label" for="defaultGroupExample77">@ViewBag.Answer_Q29_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample78" name="IQtest29" value="@ViewBag.Answer_Q29_2">
                            <label class="custom-control-label" for="defaultGroupExample78">@ViewBag.Answer_Q29_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample79" name="IQtest29" value="@ViewBag.Answer_Q29_3">
                            <label class="custom-control-label" for="defaultGroupExample79">@ViewBag.Answer_Q29_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample80" name="IQtest29" value="@ViewBag.Answer_Q29_4">
                            <label class="custom-control-label" for="defaultGroupExample80">@ViewBag.Answer_Q29_4</label>
                        </div>

                        <br><br>
                            <label class="control-label font-weight-bold">30. @ViewBag.Q30</label>
                        <br><br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample81" name="IQtest30" value="@ViewBag.Answer_Q30_1" required>
                            <label class="custom-control-label" for="defaultGroupExample81">@ViewBag.Answer_Q30_1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample82" name="IQtest30" value="@ViewBag.Answer_Q30_2">
                            <label class="custom-control-label" for="defaultGroupExample82">@ViewBag.Answer_Q30_2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample83" name="IQtest30" value="@ViewBag.Answer_Q30_3">
                            <label class="custom-control-label" for="defaultGroupExample83">@ViewBag.Answer_Q30_3</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultGroupExample84" name="IQtest30" value="@ViewBag.Answer_Q30_4">
                            <label class="custom-control-label" for="defaultGroupExample84">@ViewBag.Answer_Q30_4</label>
                        </div>

                    <br><br>
                    <input type="submit" class="btn btn-primary btn-lg" onclick="return confirm('You are about to submit your answers. Do you want to proceed?\n*Note that you cannot go back to your answers')">
                    <br>
                </div>
            </div>
        </div>
    }
    <script type="text/javascript">
        if (location.search.indexOf('r') < 0) {
            var hash = window.location.hash;
            var loc = window.location.href.replace(hash, '');
            loc += (loc.indexOf('?') < 0 ? '?' : '&') + 'r';
            setTimeout(function () { window.location.href = loc + hash; }, 0900);
        }

    </script>
    <script>


     var remSeconds = @timeRemaining;
        var secondsCounter = remSeconds % 60;

     function formatNumber(number) {
         if (number < 10) return '0' + number;
         else return '' + number;
            }
            if (performance.navigation.type == 1) {
                var test = 5;
            } else {
                var test = 1;
            }

     function startTick()
     {
         document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
         document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds/60));

         var _tick = setInterval(function ()
         {
             if (remSeconds > 0)
             {

                 remSeconds = remSeconds-1;
                 secondsCounter =secondsCounter-1;
                 document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
                 document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds/60));

                 if (secondsCounter == 0)
                     secondsCounter = 60;
             }
             else {
                 alert("Time Expired!");
                 clearInterval(_tick);
            }
         }, 1000);
     }
        startTick();
    </script>
    <script>
        var navhei = $('.card-header').height();
        var navheix = navhei + 100;
        document.addEventListener('invalid', function (e) {
            $(e.target).addClass("invalid");
            $('html, body').animate({ scrollTop: $($(".invalid")[0]).offset().top - navheix }, 0);

            setTimeout(function () {
                $('.invalid').removeClass('invalid');
            }, 0300);
        }, true);
    </script>
</body>
</html>
