@model IPagedList<HRIS.Models.Masterlist>
@{
    Layout = null;

}
@RenderPage("Navigation.cshtml")

@using PagedList.Mvc;
@using PagedList;
<style>
    .input-group {
        display: flex;
    }

    h1 {
        display: inherit;
        text-align: left;
    }
    a {
        color: black;
        text-decoration: none;
        display: block;
        font-size: inherit;
        cursor: pointer;
    }
        a:hover {
            text-decoration: none;
            color: black;
        }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Applicant').css({ 'background-color': '#37474F' });
    });
</script>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="container">
    <br>
    <div class='row'>
        <div class='md-col-4'>
            <h1>Search Applicant</h1>
        </div>
    </div>
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success">
            <strong>@TempData["success"]</strong>
        </div>
    }
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">
            <strong>@TempData["error"]</strong>
        </div>
    }
    <div class="form-group">
        <form>
            <div class="input-group mb-1">
                <input type="text" id="search" class="form-control" style="height: 50px;" placeholder="Search Email" aria-label="Search Email" aria-describedby="basic-addon2" autofocus>

                <button class="btn btn-primary" style="height: 50px;" type="button">Search</button>
            </div>
        </form>
        <br />
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("AddApplicant","Admin")'">Add Applicant</button>
        <br />
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Applied Date</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Position Applied For</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            @foreach (var Item in Model)
            {
                <tbody>
                    <tr class="Search">
                        <td><a href="@Url.Action("ViewApplicant", "Admin", new { Applicantid = Item.ID })"> @Item.Applicant_AppliedDate </a></td>
                        <td><a href="@Url.Action("ViewApplicant", "Admin", new { Applicantid = Item.ID })"> @Item.FirstName </a></td>
                        <td><a href="@Url.Action("ViewApplicant", "Admin", new { Applicantid = Item.ID })"> @Item.MiddleName </a></td>
                        <td><a href="@Url.Action("ViewApplicant", "Admin", new { Applicantid = Item.ID })"> @Item.LastName </a></td>
                        <td><a href="@Url.Action("ViewApplicant", "Admin", new { Applicantid = Item.ID })"> @Item.JobTitle </a></td>
                        <td><a href="@Url.Action("ViewApplicant", "Admin", new { Applicantid = Item.ID })"> @Item.ContactNumber </a></td>
                        <td><a href="@Url.Action("ViewApplicant", "Admin", new { Applicantid = Item.ID })"> @Item.PersonalEmail </a></td>
                    </tr>
                </tbody>
            }
        </table>
        <div class="col-sm-10">
            <div class="center">
                @Html.PagedListPager(Model, i => Url.Action("ApplicantList", "Admin", new { i, search = Request.QueryString["search"] }))
            </div>
        </div>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script>
            $(document).ready(function () {
                function Contains(text_one, text_two) {
                    if (text_one.indexOf(text_two) != -1)
                        return true;
                }
                $("#search").keyup(function () {
                    var searchText = $("#search").val().toLowerCase();
                    $(".Search").each(function () {
                        if (!Contains($(this).text().toLowerCase(), searchText)) {
                            $(this).hide();
                        }
                        else {
                            $(this).show();
                        }
                    });
                });

            });
        </script>
    </div>
</div>

@RenderPage("Footer.cshtml")
