
@{
    Layout = null;

}
@if (Session["userlevel"] == null)
{
    Response.Redirect("~/Login/Logout");
}
<link href="//netdna.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DBA HRIS</title>
    <link rel="icon" href="~/images/dba.png">
    <link href="~/css/font-awesome.css" rel="stylesheet" />

</head>
<link href="~/css/styles.css" rel="stylesheet" />
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid" style="top: 0;">
            <div class="navbar-header">
                <img src="~/images/DBA-white.png" width="120px" height="60px" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="margin-top: 12px">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav ml-auto">
                    <li>
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #FFFFFF"> <img src="@Url.Content(Session["picture"].ToString())" style="border-radius: 50%;" width="50" height="50">  @Session["FirstName"]  @Session["LastName"]<i class="fa fa-sort-desc"></i></a>
                        <div class="dropdown-menu dropdown-menu-right" style="margin-top: 0;">
                            <a class="dropdown-item" href="@Url.Action("UserList","Admin")">Manage Users</a>
                            <a class="dropdown-item" href="@Url.Action("ChangePassword","Admin")">Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("LogOut","Login")">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="~/Scripts/menu.js"></script>

    <div class="leftMenu">
        <div class="hamburger close"><span></span><span></span><span></span></div>
        <ul class="leftMenuList">
            <li>
                <a href="#"><img src="@Url.Content(Session["picture"].ToString())" style="border-radius: 50%;margin-left: 10px;" width="30" height="30"><span>Welcome @Session["FirstName"]  @Session["LastName"]</span></a>
            </li>
            <hr>
            <li class="dashboard">
                <a href="@Url.Action("Dashboard","Admin")"><i class="fa fa-home" aria-hidden="true"></i><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#" class="dropdown" id="Applicant"><i class="fa fa-briefcase" aria-hidden="true"></i><span>Applicant</span></a>
                <ul class="dropdownlist">
                    <li><a href="@Url.Action("AddApplicant","Admin")"><span>Add Applicant</span></a></li>
                    <li><a href="@Url.Action("ApplicantList","Admin")"><span>List of Applicant</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown" id="payroll"><i class="fa fa-user" aria-hidden="true"></i><span>Employees</span></a>
                <ul class="dropdownlist">
                    <li><a href="#"><span>List of Employees</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#" id="payroll"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><span>Reports</span></a>
            </li>
            <hr>
            <li>
                <a href="#" class="dropdown" id="Admin"><i class="fa fa-gear" aria-hidden="true"></i><span>Admin</span></a>
                <ul class="dropdownlist">
                    <li><a href="@Url.Action("UserList","Admin")"><span>Manage Users</span></a></li>
                    <li><a href="@Url.Action("ChangePassword","Admin")"><span>Change Password</span></a></li>
                </ul>
            </li>
        </ul>
    </div>


    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
