@model IPagedList<HRIS.Models.User>
@{
    Layout = null;

}
@RenderPage("Navigation.cshtml")

@using PagedList.Mvc;
@using PagedList;
<style>
    .input-group {
        display: flex;
    }

    h1 {
        display: inherit;
        text-align: left;
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="container">
    <br>
    <div class='row'>
        <div class='md-col-4'>
            <h1>Search User</h1>
        </div>
    </div>
    <div class="form-group">
        <form>
            <div class="input-group mb-1">
                <input type="text" id="search" class="form-control" style="height: 50px;" placeholder="Search Email" aria-label="Search Email" aria-describedby="basic-addon2">

                <button class="btn btn-primary" style="height: 50px;" type="button">Search</button>
            </div>
        </form>
        <br />
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("AddUser","Admin")'">Add User</button>
        <br />
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Employee Number</th>
                    <th>Email</th>
                    <th>User Level</th>
                    <th>Edit</th>
                </tr>
            </thead>
            @foreach (var Item in Model)
            {
                <tbody>
                    <tr class="Search">
                        <td>@Item.EmployeeNumber</td>
                        <td>@Item.Email</td>
                        <td>@Item.Userlevel</td>
                        <td><a href="@Url.Action("EditUser", "Admin", new {Userid=Item.Userid})">Edit</a></td>
                    </tr>
                </tbody>

            }
        </table>
        <div class="col-sm-10">
            <div class="center">
                @Html.PagedListPager(Model, i => Url.Action("UserList", "Admin", new { i, search = Request.QueryString["search"] }))
            </div>
        </div>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script>
            $(document).ready(function () {
                function Contains(text_one, text_two) {
                    if (text_one.indexOf(text_two) != -1)
                        return true;
                }
                $("#search").keyup(function () {
                    var searchText = $("#search").val().toLowerCase();
                    $(".Search").each(function () {
                        if (!Contains($(this).text().toLowerCase(), searchText)) {
                            $(this).hide();
                        }
                        else {
                            $(this).show();
                        }
                    });
                });

            });
        </script>
    </div>
</div>

@RenderPage("Footer.cshtml")
