@model IEnumerable<HRIS.Models.qry>
@{
    Layout = null;


}
@RenderPage("Navigation_top.cshtml")

<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script> 
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/Employee.css" rel="stylesheet" />

<div class="container-fluid" ">
    <div class="row" style="margin-top:100px;">
        <div class="col-sm-3 col-md-6 col-lg-4">
            <div class="shadow p-3 mb-5 bg-white rounded">
                @using (Html.BeginForm("Index", "EmployeeDashboard", FormMethod.Post))
                {
                    <h6>Employee ID Number: </h6>
                    @Html.TextBox("empNum", "", new { @id = "formGroupExampleInput", @class = "form-control", required = "required" })
                    <h6>Start Date: </h6>
                    @Html.TextBox("dateFrom", String.Format("{0:MM/dd/yyyy}", ""), new { @id = "startDate", required = "required" })
                    <h6>End Date: </h6>
                    @Html.TextBox("dateTo", String.Format("{0:MM/dd/yyyy}", ""), new { @id = "endDate", required = "required" })
                    <br>
                    <div class="text-right">
                        <input type="submit" value="Search" class="btn btn-info" style="width:100px; height:40px; font-size:medium">
                    </div>
                }

                <div style="height: 465px; overflow: auto;">
                    <table class="table table-hover" style="text-align:left">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>In/Out</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="3" style="color:red">
                                        ID Number not found
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td scope="row"><b>@item.CHECKTIME.ToString("MM/dd/yyyy")</b></td>

                                        <td>@item.CHECKTIME.ToString("HH:mm tt")</td>
                                        <td>@item.CHECKTYPE</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="text-right">
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exportModal">Export</button>
                </div>
            </div>

        </div>

        <div class="col-sm-9 col-md-6 col-lg-8">
            <div class="card-deck" style="text-align:center">
                <div class="card">
                    <div class="card-body">
                        <h5>Monthly Lates</h5>
                        <div class="chart" data-percent="10">2 </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5>Monthly Absences</h5>
                        <div class="chart" data-percent="25">5 </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5>Available Leave</h5>
                        <div class="chart" data-percent="84">2 </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5>Available GP</h5>
                        <div class="chart" data-percent="90">1 </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card" style="width:100%; height:625px">
                        <div class="card-body">
                            <h5>Online Application Forms</h5>
                            <div class="row" style="font-family: 'Source Sans Pro', sans-serif;">
                                <div class="col-sm-6 col-md-6 col-lg-6">

                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade " id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label">Export Employees Attendance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row" style="text-align:center">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("Reports", "EmployeeDashboard", FormMethod.Post))
                        {
                            <form>
                                @Html.ActionLink("Export to PDF", "Reports", new { ReportType = "PDF", empNum = ViewBag.emp, dateFrom = ViewBag.start, dateTo = ViewBag.end, @class = "btn btn-primary" })<i class="fa fa-file-pdf-o"></i>
                            </form>

                            <form>
                                @Html.ActionLink("Export to Excel", "Reports", new { ReportType = "Excel", empNum = ViewBag.emp, dateFrom = ViewBag.start, dateTo = ViewBag.end })<i class="fa fa-file-pdf-o"></i>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //OUT will turn RED
    $(document).ready(function () {
        $('table tbody tr').each(function () {
            if ($(this).find('td').eq(2).text() == 'O') {
                $(this).css('background', 'LightPink ');
            }
        });
    });

    //IN will turn GREEN
    $(document).ready(function () {
        $('table tbody tr').each(function () {
            if ($(this).find('td').eq(2).text() == 'I') {
                $(this).css('background', 'LightGreen');
            }
        });

    });

    var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    $('#startDate').datepicker({
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',

        maxDate: function () {
            return $('#endDate').val();
        }
    });
    $('#endDate').datepicker({
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        minDate: function () {
            return $('#startDate').val();
        }
    });
</script>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.easypiechart.js"></script>

<script>
    $(function () {
        $('.chart').easyPieChart({
            barColor: function (percent) {
                return (percent < 25 ? '#00a300' : percent < 50 ? '#ffc40d' : percent < 85 ? '#da532c' : '#ee1111');
            },

            onStep: function (from, to, percent) {
                $(this.el).find('.percent').text(Math.round(percent));
            }
        });
    });
</script>

